body {
  margin: 0;
  line-height: normal;
}
.close-up-fashion-details-you-b-icon,
.vector-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close-up-fashion-details-you-b-icon {
  height: 31.31%;
  top: 4.8%;
  bottom: 63.89%;
}
.meilleures-ventes {
  position: absolute;
  top: 40.21%;
  left: 8.17%;
  font-size: var(--font-size-xl);
}
.version-2-child {
  position: absolute;
  height: 18.01%;
  width: 16.51%;
  top: 45.6%;
  right: 75.26%;
  bottom: 36.38%;
  left: 8.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ttc {
  position: absolute;
  top: 61.85%;
  left: 30.6%;
}
.montre-michael-kors {
  position: absolute;
  top: 60.4%;
  left: 27.6%;
  font-size: var(--font-size-sm);
}
.calque-1-icon {
  position: absolute;
  height: 12.04%;
  width: 10.1%;
  top: 46.91%;
  right: 61.22%;
  bottom: 41.06%;
  left: 28.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ttc1 {
  position: absolute;
  top: 61.85%;
  left: 47.97%;
}
.montre-michael-kors1 {
  position: absolute;
  top: 60.4%;
  left: 44.74%;
  font-size: var(--font-size-sm);
}
.ttc2 {
  position: absolute;
  top: 61.85%;
  left: 65.24%;
}
.montre-michael-kors2 {
  position: absolute;
  top: 60.4%;
  left: 61.93%;
  font-size: var(--font-size-sm);
}
.montre-michael-kors-homme-mk82-icon {
  position: absolute;
  height: 11.77%;
  width: 13.12%;
  top: 46.91%;
  right: 25.5%;
  bottom: 41.32%;
  left: 61.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ttc3 {
  position: absolute;
  top: 61.81%;
  left: 82.53%;
}
.montre-michael-kors3 {
  position: absolute;
  top: 60.4%;
  left: 79.11%;
  font-size: var(--font-size-sm);
}
.calque-6-icon,
.montre-6-icon,
.montre-michael-kors-homme-mk84-icon {
  position: absolute;
  top: 46.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.montre-michael-kors-homme-mk84-icon {
  height: 11.77%;
  width: 13.12%;
  right: 8.21%;
  bottom: 41.32%;
  left: 78.68%;
  object-fit: cover;
}
.calque-6-icon,
.montre-6-icon {
  height: 11.74%;
  width: 8.75%;
  right: 79.14%;
  bottom: 41.35%;
  left: 12.11%;
}
.montre-6-icon {
  height: 12.84%;
  width: 9.53%;
  top: 46.7%;
  right: 44.64%;
  bottom: 40.47%;
  left: 45.83%;
  object-fit: cover;
}
.clip-path-group1,
.clip-path-group2,
.group-icon,
.version-2-inner,
.version-2-item {
  position: absolute;
  height: 1.68%;
  width: 2.08%;
  top: 60.61%;
  right: 82.5%;
  bottom: 37.71%;
  left: 15.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-path-group1,
.clip-path-group2,
.group-icon,
.version-2-inner {
  right: 79.69%;
  left: 18.23%;
}
.clip-path-group1,
.clip-path-group2,
.group-icon {
  right: 85.31%;
  left: 12.6%;
}
.clip-path-group1,
.clip-path-group2 {
  height: 13.51%;
  width: 23.18%;
  top: 77.06%;
  right: 1.56%;
  bottom: 9.43%;
  left: 75.26%;
}
.clip-path-group2 {
  right: 50%;
  left: 26.82%;
}
.notre-slection-pour {
  position: absolute;
  top: 91.92%;
  left: 80.72%;
}
.la-marque-du,
.nos-montres-guess {
  position: absolute;
  top: 91.88%;
  left: 30.83%;
}
.nos-montres-guess {
  left: 54.9%;
}
.clip-path-group3,
.rectangle-icon {
  position: absolute;
  height: 13.51%;
  width: 23.18%;
  top: 77.06%;
  right: 25.78%;
  bottom: 9.43%;
  left: 51.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-icon {
  right: 74.22%;
  left: 2.6%;
}
.line-icon,
.version-2-child1,
.version-2-child2,
.version-2-child3 {
  position: absolute;
  height: 0%;
  top: 21.04%;
  bottom: 78.96%;
  left: 94.15%;
  max-height: 100%;
  width: 0;
}
.version-2-child1,
.version-2-child2,
.version-2-child3 {
  left: 93.57%;
}
.version-2-child2,
.version-2-child3 {
  left: 93.28%;
}
.version-2-child3 {
  left: 92.71%;
}
.dcouvrez-notre-nouvelle {
  position: absolute;
  top: 72.01%;
  left: 31.88%;
  font-size: var(--font-size-lg);
}
.exclusion-4-icon {
  position: absolute;
  height: 1.68%;
  width: 23.17%;
  top: 91.2%;
  right: 74.22%;
  bottom: 7.11%;
  left: 2.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.la-collection-de {
  position: absolute;
  top: 91.6%;
  left: 7.25%;
  color: var(--color-white);
}
.version-2-child4 {
  position: absolute;
  height: 0.88%;
  width: 1.04%;
  top: 1.65%;
  right: 28.84%;
  bottom: 97.46%;
  left: 70.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about,
.compte,
.recherche {
  position: absolute;
  top: 1.68%;
  left: 78.85%;
}
.about,
.recherche {
  left: 71.77%;
}
.about {
  top: 1.64%;
  left: 84.43%;
}
.version-2-child5 {
  position: absolute;
  height: 2.2%;
  width: 10.66%;
  top: 1.3%;
  right: 82.61%;
  bottom: 96.5%;
  left: 6.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-path-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame {
  position: relative;
  width: 100%;
  height: 2376px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
